<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.qdu.dao.UserDao">


    <!--批量删除-->
    <delete id="deleteUsers">
        DELETE FROM USER
        WHERE id IN
        <foreach collection="userIds" separator="," item="userId" open="(" close=")" >
            #{userId}
        </foreach>
    </delete>

    <!--添加用户-->
    <insert id="addUser">
        INSERT INTO USER(username,account,password,email,phone,type,createTime)
        VALUES (
        #{username},#{account},#{password},#{email},#{phone},#{type},#{createTime}
        )
    </insert>

    <!--删除用户-->
    <delete id="deleteUser">
        DELETE FROM USER
        WHERE id=#{id}
    </delete>

    <!--修改用户-->
    <update id="updateUser">
        UPDATE USER
        SET username=#{username},account=#{account},password=#{password},email=#{email},phone=#{phone},type=#{type}
        where id=#{id}
    </update>

    <!--验证查询-->
    <select id="query4Validate" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM USER
        <where>
            <if test="username!=null">
                AND username=#{username}
            </if>
            <if test="account!=null">
                OR account=#{account}
            </if>
        </where>
    </select>



    <!--分页查询出用户信息-->
    <select id="pageQueryUser" resultType="com.qdu.entity.User">
        SELECT * FROM USER
        <where>
            <if test="queryText!=null">
                AND account LIKE concat('%',#{queryText},'%')
            </if>
            <if test="queryText!=null">
                OR username LIKE concat('%',#{queryText},'%')
            </if>
            <if test="queryText!=null">
                OR email LIKE concat('%',#{queryText},'%')
            </if>
            <if test="queryText!=null">
                OR phone LIKE concat('%',#{queryText},'%')
            </if>
            <if test="queryText!=null">
                OR createTime LIKE concat('%',#{queryText},'%')
            </if>
        </where>
        order BY createTime desc
         limit #{start},#{pageSize}
    </select>


    <select id="pageQueryCount" resultType="java.lang.Integer">
        SELECT count(*) FROM USER
        <where>
            <if test="queryText!=null">
                AND account LIKE concat('%',#{queryText},'%')
            </if>
            <if test="queryText!=null">
                OR username LIKE concat('%',#{queryText},'%')
            </if>
            <if test="queryText!=null">
                OR email LIKE concat('%',#{queryText},'%')
            </if>
            <if test="queryText!=null">
                OR phone LIKE concat('%',#{queryText},'%')
            </if>
            <if test="queryText!=null">
                OR createTime LIKE concat('%',#{queryText},'%')
            </if>
        </where>
    </select>


    <select id="getById" resultType="com.qdu.entity.User">
        SELECT * FROM USER
        WHERE ID=#{id}
    </select>

    <!--分页查询出用户信息-->
    <select id="pageQueryOnlyRepairman" resultType="com.qdu.entity.User">
        SELECT * FROM USER
        <where>
            type=3
            <if test="queryText!=null">
                AND account LIKE concat('%',#{queryText},'%')
            </if>
            <if test="queryText!=null">
                OR username LIKE concat('%',#{queryText},'%')
            </if>
            <if test="queryText!=null">
                OR email LIKE concat('%',#{queryText},'%')
            </if>
            <if test="queryText!=null">
                OR phone LIKE concat('%',#{queryText},'%')
            </if>
            <if test="queryText!=null">
                OR createTime LIKE concat('%',#{queryText},'%')
            </if>
        </where>
        order BY createTime desc
        limit #{start},#{pageSize}
    </select>

    <!--分页查询出用户信息-->
    <select id="pageQueryCountOnlyRepairman" resultType="java.lang.Integer">
        SELECT count(*) FROM USER
        <where>
            type=3
            <if test="queryText!=null">
                AND account LIKE concat('%',#{queryText},'%')
            </if>
            <if test="queryText!=null">
                OR username LIKE concat('%',#{queryText},'%')
            </if>
            <if test="queryText!=null">
                OR email LIKE concat('%',#{queryText},'%')
            </if>
            <if test="queryText!=null">
                OR phone LIKE concat('%',#{queryText},'%')
            </if>
            <if test="queryText!=null">
                OR createTime LIKE concat('%',#{queryText},'%')
            </if>
        </where>

    </select>

</mapper>